/* 

Colorschemes
http://colorschemedesigner.com/#2E11Tlos8w0w0

Greys from light to dark:
eeefee
d1d2cf
a9aca7
656862
3e3f3c


*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,latin-ext);

body {
	font: normal 16px Arial;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	color: #3e3f3c;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

h1, h2, h3 {
	font-weight: bold;
}

h2 {
	font-size: 2em;
}

/* -------- ALL SITES -------- */
header nav {
	position: fixed;
	top: 0;
	right: 0;
	height: 40px;
	background-color: rgba(10,12,10,0.4);
	width: 100%;
	z-index: 300;
}

header nav a {
	display: inline-block;
	line-height: 40px;
	padding: 0 15px;
	margin: 0;
}

header nav a:hover {
	text-decoration: none;
	background-color: #659349;
}

#header-img {
	width: 100%;
	height: 600px;
	margin: 0;
	background: url("../img/intro-bg.jpg") no-repeat center;
	background-size: cover;
}

.container-fluid {
	padding: 0;
	text-align: center;
}

footer {
	background-color: #424242;
	color: #ffffff;
	height: auto;
	min-height: 240px;
}

/* -------- MAIN SITE -------- */

#intro {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	max-width: 980px;
	margin: 0 auto;
	vertical-align: top;
	text-align: left;
	padding-bottom: 50px;
	padding-right: 2em;
}

#intro h1 {
	margin-top: 90px;
}

#intro div:first-child {
	padding: 40px;
}

#intro img {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding-top: 50px;
	padding-right: 40px;
}

#intro p {
	margin: 20px 0;
	font-size: 1.2em;
	line-height: 1.7;
}

#intro ul {
	padding-left: 0;
}

#intro ul li {
	display: block;
	width: 100%;
	vertical-align: top;
	margin: 10px 0;
}

#applications {
	text-align: center;
	background: #eeefee;
	padding-bottom: 60px;
}

#applications h2 {
	margin: 80px auto 40px auto;
	color: #72c441;
}

#applications p {
	max-width: 600px;
	margin: 40px auto 70px auto;
	line-height: 1.7;
	font-size: 1.2em;
}

.example.row-fluid {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	max-width: 980px;
	margin: 0 auto;
}

div.example {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	padding: 0 20px;
}

.example img {
	margin-bottom: 20px;
	border-radius: 75px;
}

.example span {
	display: block;
	color: #a9aca7;
	margin-bottom: 40px;
	font-weight: lighter;
}

#applications p.insta {
	margin: 30px auto 0 auto;
	padding: 0.8em;
	border: 1px solid #a9aca7;
	border-radius: 4px;
	font-size: 1em;
	/*line-height: 1.2;*/
	color: #656862;
}

#spec {
	text-align: center;
}

#spec h2 {
	margin: 70px auto 10px auto;
	color: #72c441;
}

#spec h3 {
	margin: 0 auto 60px auto;
	font-size: 1.6em;
	color: #656862;
}

#spec table {
	max-width: 760px;
	margin: 60px auto;
	text-align: left;
	border: 2px solid #9be271;
	border-radius: 4px;
}

#spec table tr {
	border-bottom: 1px solid #a9aca7;
}

#spec table tr.no-bottom-border{
	border-bottom: 1px solid transparent;
}

#spec table td {
	border: none;
	padding: 12px 16px;
}

#spec table div {
	display: inline-block;
	vertical-align: top;
}

#spec table div:first-child {
	width: 120px;
}

#spec a {
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	width: 420px;
	height: 50px;
	margin: 20px auto 60px auto;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #72c441;
	border-radius: 2px;
	font-weight: lighter;
	color: #ffffff;
}

#spec a:hover {
	text-decoration: none;
	color: #3e3f3c;
	background-color: #9be271;
}

#event {
	text-align: left;
	background-color: #bdfc7e;
}

