<div class="photo-tiles row-fluid">
    <% for(var i=1; i<76; i++) { %>
        <div class="photo">
            <img src=<%= "../img/gallery/lef20_nyiltnap_" + i + ".jpg" %> />
        </div>
    <% } %>
</div>