<h1><%= title %></h1>
<div id="large-photo" class="cleafix">
	<img src="http://lorempixel.com/800/600/nightlife/1">
</div>
<div class="photo-tiles row-fluid">
    <% for(var i=0; i<10; i++) { %>
        <div class="photo">
            <img src=<%= "http://lorempixel.com/320/240/nightlife/" + i %> />
        </div>
    <% } %>
</div>