<div class="photo-tiles row-fluid">
    <% for(var i=0; i<75; i++) { %>
        <div class="photo">
            <img src=<%= "../img/gallery/lef20_nyiltnap_" + i + ".jpg" %> />
        </div>
    <% } %>
</div>