<div class="photo-tiles row-fluid">
    <% for(var i=0; i<10; i++) { %>
        <div class="photo">
            <img src=<%= "http://lorempixel.com/320/240/nightlife/" + i %> />
        </div>
    <% } %>
</div>